*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
#hero{
    position: relative;
    color: #fff;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    z-index: 99999;
}
#main{
    width: 100%;
    background: #000;
}

.bounding {
    width: fit-content;
    overflow: hidden;
    
}

.bounding .boundingelem {
    transform: translateY(100%);
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: white;
}
#nav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}


#heading h1{
margin-left: 30px;
opacity: .6;
line-height: 1;
font-size: 9vw;
text-transform: uppercase;
font-weight: 800;
}

#heading #secondh1{
    margin-left: 160px;
}
 
#fixedaling {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    overflow: hidden;
}

#fixedaling h6{
    font-size: 1vw;
    text-align: right;
    margin-top: auto
}

#chotiheading{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 150px;
    padding-right: 50px;
}

#chotiheading h5{
    text-transform: uppercase;
    font-size: 1vw;
    margin-top: .5vw;
    text-align: right
}
#herofooter{
padding: 0 2vw;
width: 100%;
position: absolute;
bottom: 3%;
display: flex;
align-items: center;
justify-content: space-between;

}

#herofooter a{
color: #fff;
text-decoration: none;
text-transform: uppercase;
}
#herofooter #iconset{
display: flex;
gap: 10px;
}
#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
}

#second{
    position: relative;
    padding-right: 10vw;
    padding-top: 200px;
    background-color: #000;
    width: 100%;
    height: auto;
    min-height: 100%;
    
}

.elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2vw 3vw;
    padding-right: 0;
    border-top: 1px solid;
    color: #fff;
}
.elem h1{
    text-transform: uppercase;
    opacity: .7;
    font-size: 7vw;
}
.element-last{
    border-bottom: solid 1px;
}
.elem img{
    height: 210px;
    position: absolute;
    z-index: 999;
    display: none;
    
}
#about{
    display: flex;
    align-items: center;
    gap: 50px;
    color: #fff;
    background-color: #000;
    width: 100%;
    padding: 10vw 5vw;
    padding-left: 40vw;
}

#about img{
    width: 220px;
    border-radius: 110px;
    margin-bottom: 40px;
}
#textabout{
    width: 25rem;
}
#textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

#textabout p{
    line-height: 1.6;
    margin-bottom: 30px;
}
#textabout a{
    padding: 8px 15px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 100px;
    font-size: 14px;
    text-decoration: none;
}
#subscribe{
    color: #fff;
    background: #000;
   padding: 20px 30px;
   padding-bottom: 10vw;

}
#subscribe h5{
    text-transform: uppercase;
    opacity: .7;
    font-size: 13px;
    margin-top: 40px;
}
#footer{
    background: #000;
    color:#fff;
    display: flex;
    justify-content: space-between;
}
#footer #footerright{
    display: flex;
    gap: 40px;
}
#footer #footerleft{
    display: flex;
    gap: 40px;
}
#footer a{
    color: #fff;
    text-decoration: none;
}



